<!DOCTYPE html>
<html>

<head>
    <title> </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
        integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
        crossorigin="anonymous" />
</head>

<body>
    <div class="header" id="top-header">
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container p-2 text-uppercase">
                <a class="navbar-brand font-weight-bold  text-white" href="#">M Page</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto  text-uppercase">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/project">my project</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">about me</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="buttonfor" href="#">login</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>

        <div class="headerbar">
            <div class="secdiv">
                <h1>we are developers</h1>
                <div class="thirtdiv">
                    <h3> <span class="spa">and</span></h3>
                    <h2>welcome to my about us page</h2>
                </div>

            </div>
        </div>
    </div>
    <!--.........................end header................................-->

    <!--.........................coading skil start................................-->
    <section class="myskils">
        <div class="container myskilone text-center">
            <h2>my coading skils</h2>
            <p>and some more about my coding skils</p>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-10 offset-1 offset-lg-0">

                    <div class="myclass">
                        <h3>html</h3>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">90%</div>
                        </div>
                    </div>

                    <div class="myclass">
                        <h3>CSS</h3>
                        <div class="progress">
                            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated"
                                role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                style="width: 85%">85%</div>
                        </div>
                    </div>

                    <div class="myclass">
                        <h3>JAVA SCRIPT</h3>
                        <div class="progress">
                            <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated"
                                role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                style="width: 85%">85%</div>
                        </div>
                    </div>

                    <div class="myclass">
                        <h3>NODE JS</h3>
                        <div class="progress">
                            <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated"
                                role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                style="width: 90%">90%</div>
                        </div>
                    </div>

                    <div class="myclass">
                        <h3>REACT JS</h3>
                        <div class="progress">
                            <div class="progress-bar bg-BlueViolet progress-bar-striped progress-bar-animated"
                                role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                style="width: 70%">70%</div>
                        </div>
                    </div>

                    <div class="myclass">
                        <h3>ANGULAR JS</h3>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">75%</div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 col-10 about-div">
                    <div class="row">

                        <div class="col-lg-2 col-2 service-icon">
                            <i class="fa-2x fas fa-code"></i>
                        </div>

                        <div class="col-lg-10 col-10">
                            <h2>html</h2>
                            <p>HTML is the standard markup language for
                                documents designed to be displayed in a web browser. ...
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-2 col-2 service-icon">
                            <i class="fa-2x fab fa-css3-alt"></i>
                        </div>

                        <div class="col-lg-10 col-10">
                            <h2>CSS</h2>
                            <p>HTML is the standard markup language for
                                documents designed to be displayed in a web browser. ...
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-2 col-2 service-icon">
                            <i class="fa-3x fab fa-js-square"></i>
                        </div>

                        <div class="col-lg-10 col-10">
                            <h2>JAVA SCRIPT</h2>
                            <p>HTML is the standard markup language for
                                documents designed to be displayed in a web browser. ...
                            </p>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-2 col-2 service-icon">
                            <i class="fa-2x fab fa-node-js"></i>
                        </div>

                        <div class="col-lg-10 col-10">
                            <h2>NODE JS</h2>
                            <p>HTML is the standard markup language for
                                documents designed to be displayed in a web browser. ...
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-2 col-2 service-icon">
                            <i class="fa-2x fab fa-react"></i>
                        </div>

                        <div class="col-lg-10 col-10">
                            <h2>REACT JS</h2>
                            <p>HTML is the standard markup language for
                                documents designed to be displayed in a web browser. ...
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-2 col-2 service-icon">
                            <i class="fa-2x fab fa-angular"></i>
                        </div>

                        <div class="col-lg-10 col-10">
                            <h2>ANGULAR JS</h2>
                            <p>HTML is the standard markup language for
                                documents designed to be displayed in a web browser. ...
                            </p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </section>
    <!--.........................coading skil end................................-->
    <!---------------------------------carasol efect start---------------------------------------------->
    <section class="happyclients">
        <div class="container headings text-center">
            <h1 class="text-center font-weight-bold">Happy client</h1>
        </div>
        <div class="container">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="box">
                                    <a href="#"><img src="immage/hotel.jfif"></a>
                                    <p class="m-4">Video provides a powerful way to help you prove your point. When you click 
                                        Online Video, you can paste in the embed code for the video you want to</p>
                                        <h1>Rajesh sabat</h1>
                                </div>
                            </div>
                             
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="box">
                                    <a href="#"><img src="immage/hotel.jfif"></a>
                                    <p class="m-4">Video provides a powerful way to help you prove your point. When you click 
                                        Online Video, you can paste in the embed code for the video you want to</p>
                                        <h1>Rajesh sabat</h1>
                                </div>
                            </div>
                             
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="box">
                                    <a href="#"><img src="immage/hotel.jfif"></a>
                                    <p class="m-4">Video provides a powerful way to help you prove your point. When you click 
                                        Online Video, you can paste in the embed code for the video you want to</p>
                                        <h1>Rajesh sabat</h1>
                                </div>
                            </div>
                             
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>
    <!---------------------------------carasol efect end---------------------------------------------->




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>