<!DOCTYPE html>
<html>

<head>
    <title> </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
        integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
        crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        
</head>

<body>
    <div class="headerproject" id="top-header">
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container p-2 text-uppercase">
                <a class="navbar-brand font-weight-bold  text-white" href="#">M Page</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto  text-uppercase">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">my project</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">about me</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="buttonfor" href="#">login</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>



        <!-------------------------------------------------------------login butten effect starts--------------------------->
        <!--<script>
            $(document).ready(function(){
                $('#buttonfor').click(function() {
                  $('.menu').toggle("slide");
                });
            });
            </script>
        
            
             <div class="menu" style="display: none;">
                <div class="container-row">
                <ol>
                <li>India</li>
                <li>US</li>
                <li>UK</li>
                <li>Australia</li>
                </ol>
            </div>
             </div>
<!------------------------------------------------------------login butten effect end--------------------------->



        <div class="headerbar">
            <div class="secdiv">
                <h1>sunday</h1>
                <div class="thirtdivproject">
                 <img src="immage/myimg.jpg">
                </div>

            </div>
        </div>
    </div>


    <!--............................my application on project start............................-->

    <section class="projects">
        <div class="container">
            <div class="row rowone">
               <h1> <i class="fas fa-code">html</i></h1>
                <div class="myproject col-lg-12 col-md-4 col-12">
                    <div class="container">
                        <div class=row>
                            <div class="col-lg-4 col-md-4 col-12 innerrow">
                                <h1>om</h1>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12 innerrow">
                                <h1>om</h1>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12 innerrow">
                                <h1>om</h1>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row rowone">
                <h1><i class="fab fa-css3">css</i></h1>
                <div class="myproject col-lg-12 col-md-12 col-12">
                    <div class="container">
                        <div class=row>
                            <div class="col-lg-4 col-md-4 col-12 innerrow">
                                <h1>om</h1>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12 innerrow">
                                <h1>om</h1>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12 innerrow">
                                <h1>om</h1>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="row rowone">
                <h1><i class="fab fa-java">java</i></h1>
                <div class="myproject col-lg-12 col-md-12 col-12">
                    <div class="container">
                        <div class=row>
                            <div class="col-lg-4 col-md-4 col-12 innerrow">
                                <h1>om</h1>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12 innerrow">
                                <h1>om</h1>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12 innerrow">
                                <h1>om</h1>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="row rowone">
                <h1><i class="fab fa-js">javascript</i></h1>
                <div class="myproject col-lg-12 col-md-12 col-12">
                    <div class="container">
                        <div class=row>
                            <div class="col-lg-4 col-md-4 col-12 innerrow">
                                <h1>om</h1>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12 innerrow">
                                <h1>om</h1>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12 innerrow">
                                <h1>om</h1>
                            </div>

                        </div>
                    </div>

                </div>
            </div>



            <div class="row rowone">
                <h1><i class="fab fa-php">php</i></h1>
                <div class="myproject col-lg-12 col-md-12 col-12">
                    <div class="container">
                        <div class=row>
                            <div class="col-lg-4 col-md-4 col-12 innerrow">
                                <h1>om</h1>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12 innerrow">
                                <h1>om</h1>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12 innerrow">
                                <h1>om</h1>
                            </div>

                        </div>
                    </div>

                </div>
            </div>


            <div class="row rowone">
                <h1><i class="fab fa-node-js">nodejs</i></h1>
                <div class="myproject col-lg-12 col-md-12 col-12">
                    <div class="container">
                        <div class=row>
                            <div class="col-lg-4 col-md-4 col-12 innerrow">
                                <h1>om</h1>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12 innerrow">
                                <h1>om</h1>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12 innerrow">
                                <h1>om</h1>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="row rowone">
                <h1><i class="fas fa-database">mongodb & oracle</i></h1>
                <div class="myproject col-lg-12 col-md-12 col-12">
                    <div class="container">
                        <div class=row>
                            <div class="col-lg-4 col-md-4 col-12 innerrow">
                                <h1>om</h1>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12 innerrow">
                                <h1>om</h1>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12 innerrow">
                                <h1>om</h1>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
<!--  -----------------------------------project done start-------------------------------------------- -->
<section class="projectwork">
    <div class="container headings text-center">
        <p class="text-center font-weight-bold">more then 5 projects created</p>
    </div>

    <div class="container d-flex justify-content-around text-center align-item-center">
        <div>
            <h1 class="counter">1500</h1>
            <p>cms instalaton</p>
        </div>
   

  
        <div>
            <h1 class="counter">1500</h1>
            <p>cms instalaton</p>
        </div>

      
        <div>
            <h1 class="counter">100</h1>
            <p>cms instalaton</p>
        </div>

        
        <div>
            <h1 class="counter">500</h1>
            <p>cms instalaton</p>
        </div>
         </div>
</section>
<!--  -----------------------------------project done end-------------------------------------------- -->

    <!--............................my application on project end............................-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>   
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js" integrity="sha512-ZKNVEa7gi0Dz4Rq9jXcySgcPiK+5f01CqW+ZoKLLKr9VMXuCsw3RjWiv8ZpIOa0hxO79np7Ec8DDWALM0bDOaQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js" integrity="sha512-d8F1J2kyiRowBB/8/pAWsqUl0wSEOkG5KATkVV4slfblq9VRQ6MyDZVxWl2tWd+mPhuCbpTB4M7uU/x9FlgQ9Q==" crossorigin="anonymous"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootssstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        $('.counter').counterUp({
    delay: 10,
    time: 1000
});
    </script>
</body>

</html>