html{
    scroll-behavior: smooth;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
li{
    list-style: none;
}
p{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color: #606060;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 255, 191, 0.26), rgba(0, 255, 191, 0.26)), url('../immage/backimg.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    clip-path: polygon(100% 0%, 100% 75%, 50% 100%, 0 75%, 0 0);
    position: relative;
}

.header:before{
    content: "";
    position: absolute;
    top:0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: .3%;
    z-index: 1;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}
.navbar:before{
    content: "";
    position: absolute;
    top:0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: .3%;
    z-index: -3;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}


.nav-item a{
    color:#fff !important;
    font-weight: bold;
    
}
.nav-item a:hover{
    color:#FFA500 !important;
}

.navbar-brand{
    font-family: 'Righteous', cursive;
    font-size: 2rem;
    cursor:auto;
}
#buttonfor{
    border: 1px solid;
    border-radius: 100px;
    margin: 0 5px;
    padding: 8px 24px;
    line-height: 1.4;
    text-align: center;
    font-weight: 400;

}
#buttonfor:hover{
    background-color:rgba(1,1,1,0.1);
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.3);
}
.navbar-nav li{
    padding: 0 2rem 0 0 ;
    color:red;
}
.navbar-nav a{
    font-family: 'Merriweather Sans', sans-serif;
}

.headerbar{
    width: 100%;
    height: inherit;
    color: #fff;
    text-align: center;
    position: relative;

}
.secdiv{
    width: 100%;
    height: auto;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 1;
    
}
.secdiv h1{
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'Righteous', cursive;
    line-height: 1.4em;
    letter-spacing: 1px;
    margin: 0 0 .2px 0;
}

.thirtdiv h3{
    font-size: 2rem;
    text-transform: capitalize;
    font-family: 'Playfair Display', serif;
    line-height: 3rem;
    cursor:auto;
}
.thirtdiv h2{
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: 'Merriweather Sans', sans-serif;
    
}
@media(max-width:768px){
    .secdiv h1{
        font-size: 1.4rem;
        line-height: 2rem;
        font-weight: bold;
    }
    .thirtdiv h3{
        font-size: 1.5rem;
    }
    .navbar-toggler{
        border-color: white;
        border-width: 0.1rem;
    }
}

/*........................start social networks................................*/
.main_header{
    width:100%;
    height:auto;
    margin:100px 0;
    text-align: center;
}
.main_header .cards{
    padding: 50px !important;
    border-radius: 3px;
    transition: 0.3s;
    background: #fff;
}

.cards h2{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    text-transform: capitalize;
    font-weight: bold;
    line-height: 2rem;
    margin-top: 1rem;
    letter-spacing: 0.2rem;
}
.cards p{
    margin: 0 0 0 0;
    letter-spacing: 3px;
}
.face{
    background-color:rgb(0, 128, 255);
    color:#fff;
    width:3.5rem;
    height: 3.5rem;
    border-radius: 10px;
    padding-top: 0.2rem;
}
.insta{
    background-color:rgb(255, 0, 0);
    color:#fff;
    width: 3rem;
    border-radius: 10px;
}
.cards:hover{
    background-color: rgb(240, 240, 245);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.3);
    transform: translateY(2px);
    cursor: pointer;
}


/*........................end social networks................................*/


/*........................start about us page................................*/

.spa{
    color:#fff;
    text-transform: uppercase;
    font-family: 'New Tegomin', serif;
    font-weight: bold;
}
/*........................coding skil start................................*/

.myskils{
    width:100%;
    background-color: rgba(0,0,0,0.1);
    padding: 50px 0;
    margin-bottom: 50px;
}
.myskils h2{
    font-size: 2.3rem;
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.myskils p{
    font-size: 1.3rem;
    letter-spacing: 1rem;
    font-weight: bold;
}
.myskils h3{
    color:#2e2e2e;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
    padding-top:2rem;
}
.progress{
    height: 0.9rem;
    background-color:#fff;
}
.service-icon{
    display: flex;
    align-items: center;
    padding-left: 1.6rem;
   color: #4EA6E1 ;
}
.about-div{
    margin: 1rem  0 ;
    margin-top: 2rem;
}
.about-div h2{
    font-size: 0.9rem;
    text-decoration: underline;
    font-weight: bold;
    color:red;

}
.about-div p{
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1rem;

}
.fa-css3-alt{
    color: #34C441;
}
.service-icon:hover{
    box-shadow: 0px 0px 20px 3px rgba(7, 17, 73, 0.3);
    transform: translateY(2px);
    cursor: pointer;
    background-color: rgba(221, 223, 233, 0.3);
}
.fa-js-square{
    color: #8E8C0A;
    border-radius: 50px;
}
.fa-node-js{
    color: #CF2D13;
}
.carousel-inner{
    background-color: rgba(66, 6, 53, 0.349);
    border-radius: 50px;
    border:none;
    box-shadow: 0px 10px 8px 3px rgba(0,0,0,0.3);
}
.carousel-item{
    background-color: #fff;
    border:none;
}
.carousel-item h3{
    color:black;
}
.happyclients h1{
   margin:1rem 0;
   color:red;
}
.happyclients .far{
    font-size: 4rem;
    background-color: yellow;
    border-bottom-left-radius: 29px;
    border-bottom-right-radius: 29px;
    box-shadow: 0px 10px 8px 3px rgba(0,0,0,0.3);;
    margin:1rem 0;
    color:#693125 ;
    transition: all linear;
    animation: rot 2s linear infinite;
    animation-direction: alternate;
}
.happyclients{
    width:100%;
    background-color: rgba(0,0,0,0.1);
    padding: 50px 0;
    margin-bottom: 50px;
}
@keyframes rot{
 20%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(200deg);
    }
}
@media(max-width:768px){
    .happyclients h1{
        font-size: 2rem;
        margin: 4px 0;
        letter-spacing: 3px;
    }
    .carousel-inner{
       padding:4px;
       border-radius: 50px;
    }
    .carousel-item h3{
        font-size: 14px;
       text-align: center;
    }
}
/*........................coding skil end................................*/



/*........................end about us page...............................*/

/*........................start my project page................................*/

.headerproject{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(66, 6, 53, 0.349), rgba(1, 8, 27, 0.26)),url('../immage/project1.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
   clip-path:polygon(100% 0%, 100% 75%, 50% 100%, 0 75%, 0 0);
    position: relaive;
}
.headerproject:before{
    content: "";
    position: absolute;
    top:0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: .3%;
    z-index: 1;
    background: linear-gradient(to right, #232425 0%, #3ccdbb 0%, #16c9f6 100%);
}


.projects h1{
    width:100%;
    display: flex;
    flex-direction: column;
    padding:20px 0;
    align-items: center;

}
.projects{
    margin-bottom: 4rem;
    margin-top: 3rem;
}
.myproject{
    width: 100%;
    height: auto;
    margin: 20px 0;
    text-align: center;
    background-size: 20rem 60px;
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.3);
    padding: 50px !important;
}
.innerrow{
    height:8rem;
    border: 1px solid;
}
.innerrow:hover{
    transform: translateX(2px);
    cursor: pointer;
}
.rowone i{
    width: 100%;
  font-size: 1.8rem;
  letter-spacing: 1px;
  color:#fff;
  font-weight: bold;
  background-color: rgba(27, 25, 25, 0.9);
  border-radius: 4px;
  text-align: center;
  line-height: 3rem;
}
.red{
    height: 20px;
    width: 100%;
    background-color: red;
}
/*.container-row{
    height: 20rem;
    width: 50rem;
    background-color: red;
    z-index: 6;
    position: relative;
}
.menu{
    
   color:#fff;
   margin: 10% 20%;
   position:fixed;
}*/

/*........................end my project page................................*/



/*.........................footer section start................................*/
.footersection{
    width: 100%;
    height:auto;
    padding: 70px 0 20px 0;
    background: #0C090A;
    position: relative;
}
.footersection p{
    color:#fff;
    text-align: center;
}
.footersection h3{
    color:#fff;
    text-align: center;
    text-transform:uppercase;
    margin-bottom: 23px;
    font-size: 1.5rem !important;
    font-weight: 600;
    text-shadow: 2px 2px 5px rgb(250, 251, 252);
}
#myBtn{
    display:block;
    position: fixed;
    bottom: 20px;
    right:40px;
    z-index: 1;
    border: none;
    color:#000;
    background: white;
    padding:10px;
    border-radius: 10px;
    cursor: pointer;
}

/*.........................footer section end................................*/

/*.........................registration form styling start................................*/

.codepara{
    color:#F39C12;
    font-weight: bold;
}
.firsttag{
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: capitalize;
    font-family: 'Concert One', cursive;
    padding: 1rem;
}
.text{
    font-size: 3rem;
    padding: 0;
    margin-top: 2px;
    font-family: 'Patrick Hand', cursive;
    color:#3498DB;
}
.background{
    background-color: #F4F6F6;
    padding:0.1rem;
    margin:0rem 2rem 0rem 2rem;
}
.boxregistration{
    width:50%;
    height:30rem;
    margin:2rem 25% 5rem 25%;
    display: flex;
    align-items: center;
    background-color: #FEFCFF;
    box-shadow:  0px 2px 4px 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
.colu{
    margin-top: 2rem;
}
.btnRegister {
    width: 100%;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:0rem;
    border-radius: 50px;
  }
  .btnRegister:hover {
    box-shadow: 0 12px 16px 0 r5ba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transform: translateY(4px);
  }
.form-group{
   color: #5A5D5F;
}
.background h6{
    margin:5rem 4rem 2rem 10rem;
}
.background .anchore{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
@media(max-width:768px){
    .firsttag{
        font-size: 20px;
    }
    .register-form{
        margin-top:2.9rem;
        padding: 0;
    }
  .boxregistration{
     align-items: center;
     width: 90%;
     height:35rem;
     margin: 1rem 1rem 4rem 1rem;
  }
  .colu{
   
      margin-top: 6px !important;
  }
  .btnRegister{
     margin-bottom: 7px;
    margin:5px 0;
  }
  .background{
      margin-bottom: 21px;
  }
  .background h6{
      margin:0;
  }
  .form-login .radio .male{
      font-size: 1rem;
  }
  .background{
      background-color: #F4F6F6;
      height:48rem;
  }
  .contat{
      
      margin-top: 1px !important;

  }
  .center-box{
    
      margin-top: 2px !important;
  }
} 
/*.........................registration form styling end................................*/
 


/*--------------------------login form start------------------------------*/

.left-div{
    height: auto;
    width: 20rem !important;
    background-color:#fff;
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin:3px 0 2rem 0;
    padding:1rem;
    border:1px solid;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 1px rgba(128, 139, 150);
}
.right-div{
    height: 20rem;
    width: 30rem !important;
    background-color: #E5E7E9;
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin:6rem 0 2rem 8rem;
}

.form-login{
    margin-top: 0rem;
    padding:0.2rem;
}
.form-login label{
    font-size: 2rem;
    
}
.backgroundlogin{
    padding:2rem;
    background-color: #E5E7E9;
    margin:1rem 4rem;
}

.textboxlogin{
    width: 100%;
    line-height: 2rem;
    border: 1px solid;
}
.icon{
    padding:1rem;
    color:#E67E22;
   
}
.textboxlogin:hover{
    background-color: #F7F9F9 ;
    border-color: #85929E;
    box-shadow: 2px 2px 13px 2px #ABB2B9 ;
}
.btnlogin{
    width: 100%;
    border: none;
    color: white;
    padding: 1rem 0;
    margin: 9px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
    line-height: 12px;
}
.check{
    padding:2rem;
}
.btncreateacc{
    width: 100%;
    background-color: #fff;
    border:2px solid;
    border-color: #3498DB;
    color: #3498DB;
    padding: 8px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin:9px 0px 9px 0px;
    border-radius: 50px;
}
.cont{
    width: 100px;
        background-color: green;  
        border-radius: 5px;
        text-align: center;
        color: white;
        padding: .5rem;
        text-decoration: none;
        margin: 3rem 0 10px 0 ;
}
.cont:hover{
    background-color:#212F3D ;
    color:rgb(240, 227, 227);
    transform: translateY(4px);
    outline: none;
}
.middle-div{
    height: 20rem;

    padding: 2rem;
    margin:7rem 3rem 3rem 4rem;
    width: 30rem;
}
.item{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user{
    font-size: 1.2rem !important;
}
@media(max-width:768px){
    .left-div{
        height: 23rem;
    }
    .cont{
        margin:1rem 10px;
        line-height: 3px;
    }
    .right-div{
        margin-left: 1.8px;
    }
    .backgroundlogin{
        margin:0;
    }
   .user{
       font-size: 25px !important;
       padding: 2px;

   }
   .btncreateacc{
       width: 100%;
       margin:3px 1px 3px 7px;
   }
   .icon{
       font-size: 3px;
       padding: 0;
   }
   .textboxlogin{
       width: 100% !important;
       padding:2px;
       margin:3px 0px !important;
   }
   .left-div{
       padding: 0;
   }
}
/*---------------------------login form end---------------------------------*/

































































