<!DOCTYPE html>
<html>

<head>
    <title> </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
        integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
        crossorigin="anonymous" />
</head>

<body>
    <h2 class="text-center text">M page</h2>

    <!--,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,registration form start''''''''''''''''''''''''''''''''''''''''''''-->
    <div class="backgroundlogin">
        <h1 class="text-center firsttag">Login form</h1>
        <p class="text-center codepara">Sign in using your MPage account</p>
        <div class="container-fluid">
            <div class="col-lg-10 col-md-10 col-12 mx-auto">
                <div class="row firstclass">
                    <div class="col-lg-6 col-md-6 col-12 left-div">
                        <form class="loginform" action="/action_page.php" method="post">
                            <div class="container">
                                <div class="form-login">
                                    <label class="user" for="uname"><b>Username<i class="icon fa-1x fas fa-user-circle"></i></b></label>
                                    <input class="textboxlogin" type="text" placeholder="Enter Username" name="uname" required>
                                </div>
                                <div class="form-login">
                                    <label class="user" for="psw"><b>Password<i class="icon fa-1x fas fa-lock"></i></b></label>
                                    <input class="textboxlogin" type="password" placeholder="Enter Password" name="psw" required>
                                </div>
                                <button class="btnlogin btn btn-primary" type="submit">Login</button>
                               
                                    <input class="check" type="checkbox" checked="checked" name="remember"> Remember me
                                       <button class="btncreateacc" type="submit">Create An Account</button>
                             
                            </div>

                            
                            
                        </form>
                        <div class="container">
                                <a class="cancelbtn" href="/index.html">Cancel</a>
                                <span class="psw">Forgot <a href="#">password?</a></span>
                            </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 right-div">
                        <img src="immage/fav.jpeg" alt="New York">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>